<footer class="bg-dark footer mt-auto">
    <div class="container py-1 text-muted" style="text-align:center;">
        <h3 class="d-inline">Follow on:</h3>
        <div class="d-inline p-4" style="font-size: 1.5rem; text-align:center;">
            <a href="https://www.youtube.com/channel/UCyetPErepTo_-v1GUzpoFSA?guided_help_flow=5" class="p-1" style="text-decoration: none; color: #c2c1c1;;"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/numberdar478" class="p-1" style="text-decoration: none; color: #c2c1c1;"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/gvanshalaj478" class="p-1" style="text-decoration: none; color: #c2c1c1;"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.linkedin.com/in/gautam-kumar-3ab861117/" class="p-1" style="text-decoration: none; color: #c2c1c1;"><i class="fab fa-linkedin"></i></a>
        </div>
        <hr style="height:2px;">
    </div>
    <div class="container py-1">
        <div class="text-center"><span class="text-muted">All rights Reserve @tHE RGV</span></div>
    </div>

</footer>
