<% layout('./layouts/layouts') %>
    <div class="container" style="font-family: 'Abel', sans-serif;">
        <div class="text-center" style="color: aliceblue;">
          <img src="https://scontent.fagr1-1.fna.fbcdn.net/v/t1.0-9/151777126_1563409060523211_7843901918299146727_n.jpg?_nc_cat=103&ccb=3&_nc_sid=e3f864&_nc_ohc=MtyFttKxhL8AX-ZDqNL&_nc_ht=scontent.fagr1-1.fna&oh=9126e48b629bcaf6252d6468507d81fd&oe=605CA949" alt="" style="height:150px;width:150px; border-radius:50%;">
            <h1 class="display-4 text center" style="padding-top:20px; color: #000;">Welcome To tHE RGV</h1>
            <h2 style="font-family: 'Dancing Script', cursive;">Connecting with us Forever</h2>
        </div>
        </div>
    </div>
